@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
      &:before {
          @include pseudo($pos: relative);
          width: 100%;
          padding-top: $padding;
      }
  } @else {
      padding-top: $padding;
  }
}

@mixin responsive-spacing($property, $key, $axis: null, $multiplier: 1, $important: false) {
    #{$property}: spacing($key, sm, $axis, $multiplier)important($important);
    @include media(">md") {
        #{$property}: spacing($key, md, $axis, $multiplier)important($important);
    }
    @include media(">lg") {
        #{$property}: spacing($key, lg, $axis, $multiplier)important($important);
    }
};


@mixin responsive-value($property, $key, $multiplier: 1, $important: false) {
    #{$property}: value($key, sm, $multiplier)important($important);
    @include media(">md") {
        #{$property}: value($key, md, $multiplier)important($important);
    }
    @include media(">lg") {
        #{$property}: value($key, lg, $multiplier)important($important);
    }
};