@import 'include-media/dist/_include-media.scss';

// *****************
// Breakpoints
// *****************

$sm: 484px;
$md: 576px;
$lg: 668px;
$xl: 992px;

$breakpoints: (sm: $sm, md: $md, lg: $lg, xl: $xl);
