// *****************
// Colours
// *****************

// Coolors Exported Palette - coolors.co/cfe8ef-c6dbf0-9fa2b2-4f7cac-1c3144

$colors: (
  primary: (
    light: #c6dbf0,
    bright: #4f7cac,
    dark: #1c3144
  ),
  white: #fff,
  red: #DA405B,
  grey: #9fa2b2,
  blue-grey: (
    50: #eceff1,
    100: #cfd8dc,
    200: #b0bec5,
    300: #90a4ae,
    400: #78909c,
    500: #607d8b,
    600: #546e7a,
    700: #455a64,
    800: #37474f,
    900: #263238,
  )
);

// color($color-name, $color-variant: null, $alpha: 1)


// *****************
// Layout
// *****************


$spacing: 1rem;

$responsive: (
  layout: (
    sm: (
      x: $spacing * 1.25,
      y: $spacing * 1.25,
    ),
    md: (
      x: $spacing * 1.5,
      y: $spacing * 1.5,
    ),
    lg: (
      x: $spacing * 1.75,
      y: $spacing * 1.75,
    )
  ),
  main: (
    sm: (
      x: $spacing * 1.25,
      y: $spacing * 2,
    ),
    md: (
      x: $spacing * 1.5,
      y: $spacing * 2.5,
    ),
    lg: (
      x: $spacing * 1.5,
      y: $spacing * 3,
    )
  ),
  header-font-size: (
    sm: 1.75rem,
    md: 2.25rem,
    lg: 2.25rem,
  ),
  nav-font-size: (
    sm: 1.75rem,
    md: 2rem,
    lg: 2rem,
  ),
  logo-size: (
    sm: 1.75rem,
    md: 2.25rem,
    lg: 2.25rem,
  )
);

// *****************
// Borders
// *****************

$default-border-radius: .25em;
$default-border-width: 5px;

// *****************
// Transitions
// *****************

$transition-duration: .75s;
