a.button, button.button {
  background-color: color(primary, dark);
  border-radius: $default-border-radius;
  border: 2px solid color(primary, dark);
  color: color(primary, light);
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  padding: $spacing * .75;
  text-align: center;
  text-decoration: none;
  transition: $transition-duration;
  width: 100%;
  &:hover {
    background-color: color(primary, bright);
    border: 2px solid color(primary, bright);
  }
  &:focus {
    box-shadow: 0 0 0 2pt color(primary, bright);
    outline: 0;
  }
}
