* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  border-color: color(grey);
  border-top: 5px solid color(grey);
  margin: $spacing 0;

  &.hidden {
    margin: $spacing 0;
    opacity: 0;
  }
}
