$font-family-display: 'Montserrat', sans-serif;
$font-family-text: 'Open Sans', sans-serif;


body {
  color: color(grey);
  font-family: $font-family-text;
}

::placeholder {
  font-family: $font-family-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: 400;
  margin-bottom: $spacing;
  margin-top: 0;

  .underline {
    border-bottom: 5px solid color(primary, light);
    padding-bottom: $spacing / 2;

    @include media("<md") {
      padding-bottom: 0;
    }
  }
}

h1 {
  font-size: 2.25rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;

}

h4 {
  font-size: 1.5rem;
}

.primary-dark {
  color: color(primary, dark);
}

.primary-bright {
  color: color(primary, bright);
}

.primary-light {
  color: color(primary, light);
}

.white {
  color: color(white);
}

a,
a:visited {
  color: color(primary, dark);
}

a:hover {
  color: color(primary, bright);
}
